*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

/* Container styles */
.container {
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.inner-container {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin-top: 50px;
  border-top: 2px solid #ddd;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 50px);
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.clicker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 25px;
}

.boosts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.count {
  animation: "countAnimation 1s ease-in-out";
}

@keyframes countAnimation {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
